.h1,
.p {
  margin-top: 20px;
}
.table {
  width: 98%;
  height: fit-content;
  border-spacing: 0 0.5rem;
  margin-top: 50px;
}

.table thead td {
  padding: 0.6rem 0.5rem;
  font-weight: bold;
  width: 2rem;
  text-align: center;
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

.table thead tr {
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

.table tbody tr {
  height: 2rem;
  cursor: pointer;
  text-align: center;
}

.table tbody tr:hover {
  background-color: hsl(0, 0%, 92%);
}

.table a:hover {
  color: hsl(0, 43%, 60%);
  transform: rotate(1turn);
}
